.post {
  margin: 2% auto;
  width: 80%;
  border-radius: 5px;
  padding-left: 1%;
}

.post .title {
  font-size: 1.5rem;
}

.post .author {
  opacity: 0.6;
}

.post .imgcontent {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(170, 169, 169);
  border-radius: 8px;
}

.post .image {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.post .description {
  margin-left: 2%;
}

.post .date {
  margin-left: 2%;
}
